Gmail_AI_label_marker.json
{
  "name": "Gmail Trigger",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "=Předmet: {{ $json.Subject }} Body: {{ $json.snippet }} From: {{ $json.From }} Labels: {{ $json.labels }}",
        "options": {
          "systemMessage": "\n---- Sekce pro tvojí roli ----\nJsi inteligentní emailový agent, jehož funkcí je rozeznat povahu, typ příchozího emailu a označit ho štítkem podle tvého rozhodnutí.\n\n---- Sekce pro použití paměti ----\nMáš k dispozici paměť, kde máš předchozí emaily. Najdeš tam historii posledních příchozích emailů\n\n---- Sekce pro použití vyhledávání v emailové schránce ----\nMáš k dispozici nástroj na vyhledávání v emailové schránce, můžeš si podle textového řetezce vyhledávat ve schránce. Jako textový řetezec můžeš použít můžeš použít emailovou adresu odesilatele, předmět, část těla zpravy, aby sis dohledal minulou konverzaci. Můžeš si vyhledat historii podle emailové adresy odesilatele nebo emailové adresy v kopii a podle těla zprávy zjistit, zda jde o pracovní email, reklamu, osobní email. Taky se můžeš kouknout na štítek, kterým jsou označené předchozí zprávy. Koukej na i na konverzace podle emailu a subjektu, zda nový příchozí email navazuje na předchozí konverzaci\n\n---- Sekce pro rozpoznání typu emailu----\nTaky chci vědět, zda jde o nějaký informativní email, reklamu, osobní email, email od rodiny. Tyto poznatky si ukládej do paměti a aktivně používej.\nTaké upozorni, zda jde o přeposlaný email nebo mail navazující na předchozí konverzaci\n\n---- Sekce pro definici emailu ----\nTvým výstupem je tedy krátky sumář o jaký typ emailu a zda se jedná o informativní, urgentní, spam nebo jiný typ emailu. Toto ve výstupu v krátkosti popiš i čeho se to týká. Maximálně jednou větou větami.\n\n---- Sekce pro definici načítání štítku ----\nMáš také k dispozici nástroj na načtení všech štítku. Pokaždé si načti štítky a rozhodni, jestli se některý štítek hodí na označení emailu.\n\n---- Sekce pro označování emailu štítkem ----\nMáš také k dispozici nástroj na označení emailu štítkem. Pokaždé, tedy vždy použij tento nástroj na označování emailu štítkem, označ tento email nejbližším štítkem. Můžeš použít i dva a více štítků, maximálně čtyři. Štítek posílej nástroji jako ID štítku"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        -620,
        -220
      ],
      "id": "3c3e6bc0-858a-4413-8318-a6a6aeb6f486",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -900,
        40
      ],
      "id": "d86f6ed5-fac4-48ec-89af-45e00964bffd",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "VtAEQGzTqmdwYj9W",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $workflow.id }}",
        "contextWindowLength": 5000
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        -740,
        40
      ],
      "id": "384bb1ba-24a6-4300-9ff8-33c25da6d989",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "YrTGUm0ZRaCpbtdy",
          "name": "Postgres Docker account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyX",
              "value": 5,
              "unit": "minutes"
            }
          ]
        },
        "filters": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.2,
      "position": [
        -820,
        -220
      ],
      "id": "efeb7836-07ec-4a52-9cef-23ce3ea02003",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "Efx3JS7iiWyrLbJd",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -120,
        -260
      ],
      "id": "863a67f7-e6ef-40f9-93c5-07931e4d6909",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "content": "## Poznámky k Workflow \n\nTento AI Agent vezme nový příchozí email a podívá se do historie emailů, konverzace a podle toho se rozchodne, jak oštítkuje email. Vytvoří krátkou sumarizaci a pošle ho na nějaký messanger.\n\n**1/ OpenAI Chat Model**\nlze zvolit jakýkoliv trochu přemýšlecí\n\n**2/ Postgres Chat Memory**\nlze lze nahradit jakokoliv pamětí, pokud nebude perzistentní, automatizace si nebude pamatovat předchozí štítky z emailů\n\n**3/ IMAP - last email**\nnajde si posledních X zpráv podle emailové adresy a rozhoduje se o jakou konverzaci jde, např. pokud se třeba vedla emailová diskuze.\nJe implementováno pomocí IMAPU, Gmail konektor neumožňuje hledání\n\n**4/ Gmail - getAll: label**\nnačte si všechny štítky\n\n**5/ Gmail - addLabels: message**\ntímto nástrojem označí zprávu štítkem\n\n**6/ No Operation, do nothing**\nzde si můžete dát messenger na upozornění nových emailů\n\n\n",
        "height": 640,
        "width": 440
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1400,
        -280
      ],
      "typeVersion": 1,
      "id": "4c2cd4e9-4c29-402d-b399-a44419182f13",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "operation": "searchEmails",
        "mailbox": {
          "__rl": true,
          "value": "=[Gmail]/All Mail",
          "mode": "name"
        },
        "limit": 100,
        "simpleSearchText": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Search_Text__Optional_', ``, 'string') }}"
      },
      "type": "n8n-nodes-imap-ai.imapTool",
      "typeVersion": 1,
      "position": [
        -540,
        40
      ],
      "id": "93210173-4d55-4ba0-a710-559e0fe38624",
      "name": "IMAP - last emails",
      "credentials": {
        "imap": {
          "id": "wSDektdz1mBMpynJ",
          "name": "IMAP account"
        }
      }
    },
    {
      "parameters": {
        "resource": "label",
        "returnAll": true
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        -240,
        40
      ],
      "id": "56c3be4f-b046-480c-b4cf-4cd7b90ae4ce",
      "name": "Gmail - getLabels",
      "webhookId": "74830aed-fd54-4443-9893-517e153cf2d1",
      "credentials": {
        "gmailOAuth2": {
          "id": "Efx3JS7iiWyrLbJd",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}",
        "labelIds": "={{ $fromAI('Label_Names_or_IDs', ``, 'string') }}"
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        -60,
        40
      ],
      "id": "abd21eae-02e8-4d56-9881-bac67160ab1e",
      "name": "Gmail - addLabel",
      "webhookId": "142ae89c-0590-4336-bc2d-d87ba7ed6391",
      "credentials": {
        "gmailOAuth2": {
          "id": "Efx3JS7iiWyrLbJd",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IMAP - last emails": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Gmail - getLabels": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Gmail - addLabel": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "9ef57a56-17f3-40fd-a775-b44110c3bec3",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c433ec160f53a60d614e7ab508b8aadc285e580f2d7d4ab2ff72f9a5ca27e294"
  },
  "id": "fXERIGuxFx9HgErT",
  "tags": []
}